local.properties
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
build/generated/mockable-android-25.jar
build/android-profile/profile-2017-05-18-09-46-41-389.rawproto

.gradle
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
BorisEnDeSjaak.iml
app/BorisEnDeSjaak-v1.apk
*.apk
